<!-- =========================== Header start ========================== -->
<header>
    <div class="container">
     <nav class="navbar navbar-expand-lg navbar-light">
       <a class="navbar-brand logo" href="#"><img src="../assets/images/logo.png" alt="" /></a>
       <span class="open-menu"style="font-size:30px;cursor:pointer" onclick="openMenu()">&#9776; </span>
       
         <div class="sidenav" id="mySidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">&times;</a>
           <ul class="navbar-nav menu-ul">
             <li class="nav-item menu-li ">
              <a type="button" class="btn btn-primary btn-lg" href="/admin-wallet" role="button">Admin</a>&nbsp;&nbsp;
             </li>
             <li class="nav-item menu-li active">
               <a type="button" class="btn btn-primary btn-lg" routerLink="/user-wallet-screen" role="button">User</a>
             </li>
             
           </ul>
       
         </div>
       <ul class="navbar-nav">   
         <li>
           <div class="notification2">
               
              <a href="#">
              <div class="notBtn" href="#">
              
               <div class="notification2-img">  <img src="../assets/images/user-icon.png" alt="" />
                </div>
                  <div class="notification-box">
                    
                   <div class="page-no">
                     1 of 2
                   </div>
                   <div class="user-text">
                     <img src="../assets/images/user-icon.png" alt=""/><br/> 
                     <span>http://dotbuymeme.com</span>
                     <h5>Connect with metaMask</h5>
                     <span>Select account(S)</span>
                   </div>
                  
                   <div class="select-acount">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Select All <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                    </div>
                    <a href="#"> New Accopunt</a>
                   </div>
                   
                   <div class="select-one">
                     <div class="form-check select-box">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <label class="form-check-label" for="exampleCheck1"><img src="../assets/images/select-1.png" alt=""/><h6>Account 1 (...1723)
                       <br/> <span>1.315435 ETH</span>
                       </h6>
                       </label>
                     </div>
                     <div class="form-check select-box">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <label class="form-check-label" for="exampleCheck1"><img src="../assets/images/select-2.png" alt=""/><h6>Account 1 (...1723)
                       <br/> <span>1.315435 ETH</span>
                       </h6>
                       </label>
                     </div>
                     <div class="form-check select-box">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <label class="form-check-label" for="exampleCheck1"><img src="../assets/images/select-3.png" alt=""/><h6>Account 1 (...1723)
                       <br/> <span>1.315435 ETH</span>
                       </h6>
                       </label>
                     </div>
                     <div class="form-check select-box">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <label class="form-check-label" for="exampleCheck1"><img src="../assets/images/select-1.png" alt=""/><h6>Account 1 (...1723)
                       <br/> <span>1.315435 ETH</span>
                       </h6>
                       </label>
                     </div>
                     <div class="form-check select-box">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <label class="form-check-label" for="exampleCheck1"><img src="../assets/images/select-2.png" alt=""/><h6>Account 1 (...1723)
                       <br/> <span>1.315435 ETH</span>
                       </h6>
                       </label>
                     </div>
                     <div class="form-check select-box">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <label class="form-check-label" for="exampleCheck1"><img src="../assets/images/select-3.png" alt=""/><h6>Account 1 (...1723)
                       <br/> <span>1.315435 ETH</span>
                       </h6>
                       </label>
                     </div>


                   </div>
                   <label class="lern-more">only connect with sites you trust. <a> Learn More</a></label>
                   <div class="btn-div mt-3">
                     <button class="btn btn-cancel mr-2">Cancel</button>
                     <button class="btn btn-Next" onclick="openNav()">Next</button>
                   </div>


                   <div id="connect" class="connect-div">
                     <div class="back-div"><div class="page-no" onclick="closeNav()"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back</div>  
                       <div class="page-no">2 of 2 </div> </div>
                     <div class="user-text">
                       <img src="../assets/images/user-icon.png" alt=""/><br/> 
                       <span>http://dotbuymeme.com</span>
                       <h5>Connect with metaMask</h5>
                       <span>Select account(S)</span>
                     </div>
                     <div class="select-acount">
                       <div class="form-check select-box " style="border-bottom: none;">
                         <input type="checkbox" class="form-check-input" id="exampleCheck1">
                         <label class="form-check-label">view the addresses of your permitted accounts (required)
                         
                         </label>
                       </div>
                      </div>
                     <label class="lern-more mt-5 pt-5">only connect with sites you trust. <a> Learn More</a></label>
                     <div class="btn-div mt-3">
                       <button class="btn btn-cancel mr-2">Cancel</button>
                       <button class="btn btn-Next" onclick="openNav()">Next</button>
                     </div>
                 
                   </div>
                 </div>
              </div>
                </a>
            </div>
        </li>
       </ul>
     </nav>
    </div>
   </header>